* {
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

div {
    font-size: 1rem;
}

.sidebar {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex: 1;
    height: '100vh';

}

.row-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #D0D5DD;
    padding: 10px;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
}

.info {
    margin-left: 10px;
}

.layout-input {
    outline: none;
    border: none;
}

.bottom-div {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #EAECF0;
    padding-top: 1rem;
    margin-top: 2rem;
}

.ml {
    margin-left: 1rem;
    width: 200px;
}

.info2 {
    margin-left: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 10px 2rem;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    background: white;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
}

.nav-img {
    background: white;
    margin-right: 10px;
    padding: 5px;
    border-radius: 8px;
}

.component-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 5;
    margin-top: 2rem;
}

.pg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 220px;
    height: 0.5px;
    background: gray;
    margin-top: -2.5rem;
}

.circle-div {
    border: 1px solid #6938EF;
    padding: 10px;
    display: flex;
    width: 8px;
    height: 8px;
    justify-content: center;
    border-radius: 100%;
}

.cd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -1.1rem;
}

.cd2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -1.1rem;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #6938EF;
}

.circle2 {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #A0A0AB;
}


.circle-div2 {
    padding: 10px;
    display: flex;
    width: 8px;
    height: 8px;
    justify-content: center;
    border-radius: 100%;
}

.card {
    /* background: white; */
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 550px;
    padding: 2rem;
    border-radius: 10px;
    background: white;

}

.mt {
    margin-top: 2rem;
    width: 95%;
}

.mt2 {
    margin-top: 2rem;
    width: 100%;
}

.sender-input {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    outline: none;
    border: 0.3px solid #9B8AFB;
    margin-top: 0.5rem;
}

.bal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.csv {
    border: 1px solid #9B8AFB;
    border-radius: 8px;
    /* padding: 10px; */
    margin-top: 1rem;
}

.address-row {
    display: flex;
    flex-direction: row;
}

.index {
    /* padding: 10px; */
    padding-top: 10px;
    padding-left: 10px;
    width: 20px;
    border-right: 1px solid #9B8AFB;
    background: #E9E8FF;
}

.data {
    background: white;
    padding: 10px;
    width: 100%;
}

.csv-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.upload-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.plus {
    border: 0.7px solid #D1D1D6;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 5px;
}

.button-div {
    margin: 2rem 0px;
}

.button-div2 {
    margin: 2rem 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn {
    padding: 25px;
    width: 100%;
    background: #7A5AF8;
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 20px;
}

.btn3 {
    padding: 25px;
    width: 47%;
    background: #7A5AF8;
    border-radius: 50px;
    color: white;
    border: none;
    font-size: 20px;
}

.btn2 {
    padding: 25px;
    width: 47%;
    background: white;
    border-radius: 50px;
    border: 1px solid #D1D1D6;
    color: black;
    font-size: 20px;
}

.sender-input2 {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    outline: none;
    border: none;
    background: #FAFAFA;
    margin-top: 1rem;
}

.scan {
    padding: 10px;

}

.card2 {
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-iron-100, #F4F4F5);
    padding: 1rem;

}

.card2-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.8rem;
}

.alert-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--warning-300, #FEC84B);
    background: var(--warning-25, #FFFCF5);
    padding: 1rem;
    margin-top: 2rem;
}

.list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0px;
    border-bottom: 1px solid var(--gray-iron-100, #F4F4F5);

}